.base-container {
    .current-status {
        color: rgb(96, 94, 99);
    }

    .board {
        display: flex;

        .player-one {
            p {
                color: rgb(134, 56, 203);
            }
        }
        .player-two {
            p {
                color: rgb(115, 104, 47);
            }
        }
        .rows {
          max-width: 300px;
          flex-direction: row;
          justify-content: space-between;

          .square {
            cursor: pointer;
            height: 100px;
            width: 100px;
            border: 1px solid #000;

            &.player-one {
                background : rgb(134, 56, 203);
            }

            &.player-two {
                background : rgb(115, 104, 47);
                animation: blink 600ms steps(1, end) 1;  
            }
          }  
        }
      
        @keyframes blink {
            0% {
            opacity: 1;
            }
            50% {
            opacity: 0;
            }
            100% {
            opacity: 1;
            }
        }

        .blink {
            animation: blink 1s steps(1, end) 4;        }
    }
}